* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  background: #0b0d10;
  color: white;
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
a {
  cursor: pointer;
}